// Black white
$color-white: #FFF;

// Black color
$color-black: #000;
$color-black-text: #333;
$color-black-base: #2D353A;

// Purple color
$color-purple: #633DB9;
$color-dark-purple: #2D2B55;

// Pink color
$color-pink: #D73364;

// Yellow color
$color-yellow: #F9E730;
$color-yellow-hover: #FFF374;

// Gray color
$color-gray-background: #EEEEEE;

// Fonts
$font-houschka: 'HouschkaPro', sans-serif;
