.editing {
    display: block;

    padding-bottom: calculateRem(80px);

    @include tablet {
        padding-bottom: calculateRem(40px);
    }

    @include mobile {
        padding-bottom: calculateRem(24px);
    }

    @at-root #{&}__container {
        @include container;
    }

    @at-root #{&}__inner {
        @include push--auto;

        display: block;
        max-width: calculateRem(884px);
        width: 100%;

        & > :last-child {
            margin-bottom: 0;
        }
    }

    @at-root #{&}__top {
        display: block;
        margin-bottom: calculateRem(40px);

        @include desktop-small {
            margin-bottom: calculateRem(32px);
        }

        @include tablet {
            display: none;
        }
    }

    @at-root #{&}__back {
        position: relative;
        display: inline-block;
        font-size: calculateRem(18px);
        line-height: calculateRem(24px);
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: $color-black-base;
        padding-left: calculateRem(50px);

        &:before {
            position: absolute;
            display: block;
            top: calc(50% - #{calculateRem(7px)});
            left: 0;
            width: calculateRem(38px);
            height: calculateRem(14px);
            content: '';
            background-image: url('../../images/icons/icon-arrow-back-black.svg');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    @at-root #{&}__block {
        display: block;
        background-color: $color-white;
        padding: calculateRem(60px) calculateRem(16px);
        margin-bottom: calculateRem(40px);

        @include tablet {
            padding: calculateRem(40px) calculateRem(16px);
        }

        @include mobile {
            padding: calculateRem(24px) calculateRem(16px);
        }
    }

    @at-root #{&}__title {
        display: block;
        text-align: center;
        margin-bottom: calculateRem(40px);


        @include tablet {
            margin-bottom: calculateRem(32px);
        }

        @include mobile {
            margin-bottom: calculateRem(24px);
        }
    }

    @at-root #{&}__form {
        @include push--auto;

        display: block;
        max-width: calculateRem(516px);
        width: 100%;
    }
}
