.password {
    position: relative;
    display: block;

    @at-root #{&}__button {
        position: absolute;
        display: block;
        border: 0;
        padding: 0;
        right: calculateRem(16px);
        top: 50%;
        transform: translateY(-50%);
        width: calculateRem(24px);
        height: calculateRem(24px);
        background-color: transparent;
        background-image: url('../../images/icons/icon-password-hidden.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        @at-root #{&}--show {
            background-image: url('../../images/icons/icon-password-show.svg');
        }
    }

    @at-root #{&}__forgot {
        display: inline-block;
        margin-left: auto;
    }
}
