@font-face {
    font-family: 'HouschkaPro';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/HouschkaPro/HouschkaPro-Medium.otf');
}

@font-face {
    font-family: 'HouschkaPro';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/HouschkaPro/HouschkaPro-DemiBold.otf');
}

@font-face {
    font-family: 'HouschkaPro';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/HouschkaPro/HouschkaPro-Bold.otf');
}

@font-face {
    font-family: 'HouschkaPro';
    font-style: normal;
    font-weight: 800;
    src: url('../../fonts/HouschkaPro/HouschkaPro-ExtraBold.otf');
}
